name: ASP.NET MVC App deploy to Azure App service

on: [push,pull_request]

jobs:
  build-and-deploy:
    runs-on: windows-latest
    steps:

    # checkout the repo
    - uses: actions/checkout@master  
    
    # Install Nuget and run Nuget restore
    - name: Use NuGet to restore dependencies as well as project-specific tools that are specified in the project file
      uses: nuget/setup-nuget@v1
      with:
        nuget-version: '5.3.1'

    - run: nuget restore
  
    - name: setup-vs
      uses: warrenbuckley/Setup-MSBuild@v1

    - name: run MSBuild
      run: msbuild .\SampleWebApplication.sln
       
    - name: 'Run Azure webapp deploy action using publish profile credentials'
      uses: azure/webapps-deploy@v1
      with: 
        app-name: appwithslotronai # Replace with your app name
        publish-profile: ${{ secrets.azureWebAppPublishProfile }} # Define secret variable in repository settings as per action documentation
        package: 'SampleWebApplication/'
